input{
    width:200px;
    height:50px;
    font-weight:bold;
    background:tomato;
    color:white;
    border-style:none;
    border-radius: 12px 12px 12px 12px;
    text-transform:uppercase;
    letter-spacing:5px;
}

input:hover{
    background:#0D80E5;
}

.tooltip{
  color:white;
  display:flex;
  flex-direction:column;
  width:15%;
  background:black;
  text-align:center;
  font-family:sans;
  border-radius:5px 5px 5px 5px;
  margin-top:20px;margin-left:20px;
}

.title{
  font-weight:bold;
  font-size:20px;
}
